<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Plataforma de Perguntas e Respostas</title>
  </head>

  <body>
    <h1>Guia de Perguntas e Respostas</h1>
    <hr>
    <h3>Lista de Perguntas</h3>
  </body>
</html>

